<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109970906160-gon10405uvin41ut3nudlut9kev2v3ml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109970906160-gon10405uvin41ut3nudlut9kev2v3ml</string>
	<key>API_KEY</key>
	<string>AIzaSyBWFlqqsWTXEpvzMUn7LrG3a1CNycAhK8w</string>
	<key>GCM_SENDER_ID</key>
	<string>109970906160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.districap</string>
	<key>PROJECT_ID</key>
	<string>districap-29407</string>
	<key>STORAGE_BUCKET</key>
	<string>districap-29407.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109970906160:ios:6009b91c30ff85c4ffe1f5</string>
</dict>
</plist>